/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
    }
  }


body, html {
    margin: 0;
    padding: 0;
}

.custom-nav {
  @apply p-1 px-3 text-zinc-700 ;
  @apply hover:text-black transition duration-300;
  @apply dark:hover:text-gray-700 ;
}

.custom-li {
  @apply py-1 px-4 text-xs text-orange-500/75 rounded bg-zinc-200/50 ;
  @apply shadow-orange-500/25 dark:shadow-purple-600/25;
  @apply border border-orange-500/10;
  @apply  transition duration-300;
  @apply dark:text-purple-700 dark:bg-zinc-900 dark:border-purple-500/25 dark:hover:text-gray-500 ;
}

.custom-sections {
  @apply mx-auto min-h-[810px] h-[auto] sm:w-[calc(100%-2rem)] md:w-[calc(100%-2rem)] lg:w-[calc(100%-2rem)] xl:w-[calc(100%-2rem)] 2xl:w-[calc(100%-2rem)]; 
  @apply border border-orange-500/10 dark:border-purple-500/25 bg-zinc-200/50 dark:bg-white/10 dark:text-white;
}

.btn {
  @apply relative overflow-hidden flex items-center justify-center font-sans font-bold dark:outline outline-1 outline-[#111] before:content-[''] before:absolute before:-z-20 before:w-[100%] before:h-[10%] before:dark:bg-[conic-gradient(#900080,#ff00cb,#900080)] 
  before:bg-[conic-gradient(#ffa500,#ffa0cb,#ffa500)] 
  before:animate-[rotate_4s_linear_infinite] after:content-[''] after:absolute after:-z-10 after:inset-[1] after:w-[calc(100%-4px)] after:h-[calc(100%-4px)] after:dark:bg-zinc-900 after:bg-gray-200 after:rounded
  hover:scale-105 transform transition duration-300;
}

.custom-card {
  @apply w-64 p-2 pt-6 rounded shadow-lg dark:bg-purple-600 bg-orange-400/90;
}

.dropdown-li {
  @apply p-2 hover:bg-gray-100 cursor-pointer text-orange-500/75 dark:text-purple-500 dark:bg-zinc-900;
}

.platform-cards {
  @apply w-72 h-80 p-4 border border-orange-500/25 dark:border-purple-500/25 rounded bg-white dark:bg-black flex flex-col;
}

.hidden{
  display: none;
}

.text-color {
  @apply text-orange-500 dark:text-purple-500;
}